

    <span style="color: purple; background-color: green">{{ title }} Esta ejecutando right now, loser!</span>

    <br /><span> Gimme shelter</span>

                          <!--EL LLAMADO A UNA PROPIEDAD EN TYPESCRIPT SE HACE MEDIANTE DOBLE LLAVE "{{}}"-->
          <br /> <span> Saludo: {{saludo}}</span> 

                 <br />

<app-empleados></app-empleados> <!--INCLUSION DEL MODULO CON EL SELECTOR "APP"-->
<app-empleado></app-empleado>

<br />
<br />
<app-empleado></app-empleado>

<br />

